<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Котодом Шеногина</title>
    <link rel="icon" href="assets/images/cat-in-the-city.png" type="img/png" />
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
        rel="stylesheet" />
</head>

<body>
    <h2 class="slogan"><span class="slogan-accent">Миссия приюта - показать как застройщик может помочь, если на
            сносимых территориях есть
            кошки.</span> Застройщик - группа компаний "ФСК" строит на территории большой жилой комплекс.
        После переговоров, компания выделила здание под временное проживание котиков на весь период строительства,
        помогала оплачивать их лечение и содержание. Всем бы застройщикам брать такой положительный пример на
        вооружение!
    </h2>
    <section class="content-about">
        <h3 class="content-about__title"><span class="accent-color">О КОТО</span>ДОМЕ</h3>
        <div class="content-about__info">
            <p class="content-about__text">Наш Котодом находится на ул. Шеногина, д.2, стр.39. Отлов кошек начался в
                апреле 2021 года, всего командой волонтеров спасено 198 кошек, сейчас это уже полноценный приют, в
                котором проживают около 100 кошек, он так и называется «Котодом Шеногина».
                Приют полностью волонтерский, поэтому если Вы живете в районе Хорошево-Мневниках и хотите помочь
                приюту, <a href="https://t.me/kotodom_shenogina" class="content-about__link">напишите нам</a>.</p>
            <img src="/assets/images/cat-black-and-white.png" alt="cat" class="content-about__img">
        </div>
    </section>
</body>

</html>