<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KOTOДОМ ШЕНОГИНА</title>
    <link rel="icon" href="assets/images/cat-in-the-house.png" type="img/png" />
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- block header START-->
    <header>
      <div class="header">
        <div class="header__row">
          <div class="frame">
            <div class="header_phone">
              <img
                id="phonecat"
                src="../assets/images/catphone.png"
                alt="phone"
              />
            </div>
            <div class="header__number">+7(495) 000 00 00</div>
          </div>
          <div class="header__buttones">
            <div class="header__buttones button1" href="#">
              <a id="btn1">Помочь приюту</a>
            </div>
            <div class="header__buttones button2" href="#">
              <a id="btn2">Приютить котика</a>
            </div>
          </div>
        </div>
      </div>
      <!--burger menu START-->
      <div class="menu">
        <input type="checkbox" id="burger" />
        <label for="burger">МЕНЮ</label>
        <div class="burger__number">+7(495) 000 00 00</div>
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>
        <nav class="main-menu">
          <a class="main-menu__n" href="#"
            ><span class="accent-color">О КОТО</span>доме</a
          >
          <a class="main-menu__n" href="#"
            ><span class="accent-color">КОТО</span>лог</a
          >
          <a class="main-menu__n" href="#"
            ><span class="accent-color">КОТО</span>новости</a
          >
          <a class="main-menu__n" href="#"
            ><span class="accent-color">КОТО</span>команда</a
          >
          <a class="main-menu__n" href="#">Реквизиты</a>
        </nav>
        <!--burger menu FINISH-->
      </div>
    </header>
    <main>
      <div class="banner">
        <div class="banner__cover">
          <img
            id="cover"
            src="../assets/images/landing-banner.png"
            alt="Котодом ШЕНОГИНА"
          />
          <div class="banner__covertext">
            <p id="nameing">
              <span class="accent-color">КОТО</span>ДОМ ШЕНОГИНА
            </p>
            <p id="nameing2">ПРОЕКТ ЗАВОДСКИЕ КОШКИ</p>
          </div>
        </div>
      </div>
    </main>
    <!-- block banner Finish-->
  </body>
</html>
