img {
    max-width: 100%;
}

.page-container {
    display: flex;
    font-family: "Nunito", sans-serif;
    font-size: 2.5vmin;
}

.aside {
    display: none;
    max-width: 25%;
    @media (min-width: $tablet) {
        display: block;
    }
    @media (min-width: $desktop) {
        max-width: 20%;
    }
}
.aside__pic {
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $green;
    }
}

.aside__pic-img {
    background-image: url(/assets/images/cat-gray.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    padding: 1rem 0;
}

.aside__nav {
    background-color: $white;
    padding: 1rem;
    min-width: max-content;
}
.aside__nav-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 1.5rem;
}

.aside__nav-link {
    color: $black;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: transparent;
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scale3d(0.85, 0.85, 1) translateX(-23px);
    padding: 0.2rem;
}

.aside__nav-link:hover {
    opacity: 1;
    transform: none;
    background-color: $red;
    font-size: larger;

    text-transform: uppercase;
    .accent-color {
        color: $white;
    }
}

.accent-color {
    color: $red;
}
.aside__requisite {
    padding: 1rem;
    background-color: $green;
    color: $white;
    &-details {
        padding-top: 1rem;
    }
    &-title {
        text-align: center;
    }
    &:hover {
        background-color: $light-green;
    }
}

.aside__requisite-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.4rem;
    padding-bottom: 0.5rem;
    color: $white;
    &:hover {
        filter: invert(49%) sepia(19%) saturate(2230%) hue-rotate(324deg)
            brightness(92%) contrast(100%);
    }
}

.aside__requisite-img {
    max-width: 70%;
    filter: invert(100%) sepia(13%) saturate(4911%) hue-rotate(279deg)
        brightness(119%) contrast(100%);
    @media (min-width: $desktop) {
        max-width: 60%;
    }
}
.aside__requisite-img_sber {
    max-width: 75%;
    @media (min-width: $desktop) {
        max-width: 60%;
    }
}

.aside__requisite-img_kiwi {
    max-width: 40%;
}
.aside__socials {
    padding: 1rem;
    background-image: linear-gradient(-20deg, $blue 51%, $turquoise 51%);
    &-text {
        color: $white;
        display: block;
    }
    &:hover {
        background-image: linear-gradient(127deg, $light-green 51%, $red 51%);
        .aside__socials-text {
            color: $black;
        }
        .aside__socials-img {
            filter: invert(100%);
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.aside__numbers {
}
