.news {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &__title {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 1%;
        line-height: 3.5rem;
        border-top: 0.3rem dotted $red;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 0.6rem;
        transition: none;
        color: $white;
        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            margin: 0 0.5rem;
        }
    }

    &__post {
        display: flex;
        padding: 0.5rem;
        gap: 0.5rem;
        align-items: center;
        min-height: 33vh;
        max-width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: $tablet) {
            flex-direction: column;
        }
        @media (min-width: $desktop) {
            padding: 1rem;
        }

        &_style-one {
            background-color: $red;

            &:hover {
                background-image: url(/assets/images/news/flowers-cat.jpg);
            }
        }

        &_style-two {
            background-color: $turquoise;

            &:hover {
                background-image: url(/assets/images/news/computer-cat.jpg);
            }
        }

        &_style-three {
            background-color: $blue;

            &:hover {
                background-image: url(/assets/images/news/sleepy-cat-2.jpg);
            }
        }

        &:hover {
            @media (min-width: $tablet) {
                justify-content: center;
            }

            & .news__desc,
            & .news__post-title,
            & .news__pic {
                display: none;
            }

            & .news__link {
                background-color: $red;
                border-bottom: 0.1rem solid $black;

                @media (min-width: $tablet) {
                }
            }
        }
    }

    &__paragraph {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__post-title {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 1rem 0;
        @media (min-width: $large-desktop) {
            font-size: 1.5rem;
        }
    }

    // .news__desc

    &__desc {
        max-height: 4rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        @media (min-width: $large-desktop) {
            font-size: 1.25rem;
        }
    }

    // .news__pic

    &__pic {
        min-width: 35vmin;
        margin: auto 0;

        @media (min-width: $tablet) {
            min-width: 0;
        }
        @media (min-width: $big-tablet) {
            max-width: 80%;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 1.1rem;
        padding-top: 0.5rem;
        color: $white;
        text-transform: none;
        transform: none;
        z-index: 1;
        margin: 1rem 0;
        &:hover {
            font-size: 1.3rem;
            text-transform: none;
        }
    }
}

.news_page {
    margin-top: 7rem;

    @media (min-width: $large-desktop) {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}
.news__posts_page {
    display: flex;
}
.news__post_page {
    display: grid;
    grid-template-columns: 60% 40%;
    &:hover {
        @media (min-width: $tablet) {
            justify-content: unset;
        }

        & .news__desc,
        & .news__post-title {
            display: flex;
        }
        & .news__pic {
            display: block;
        }

        background-image: unset;
    }
    @media (min-width: $tablet) {
        flex-direction: row;
    }
}
.news__desc_page {
    overflow: initial;
    display: flex;
    max-height: unset;
}
.news__paragraph_page {
    align-self: stretch;
}
.news__title_page {
    border-top: none;
}
.news__pic_page {
    @media (min-width: $tablet) {
        max-height: 33vmin;
    }
}
