@import "../styles/_colors.scss";
* {
  box-sizing: content-box;
  margin: 0 auto;
}
.header {
  width: 80vw;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vmin;
  margin-left: 25rem;

  &__row {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    flex-direction: row;
    background-color: $blue;
    align-items: center;
    justify-content: fix-end;
  }
  &__phone {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #phonecat {
    display: flex;
    max-width: 50%;
    margin-left: 2rem;
  }
  &__number {
    display: flex;
    color: white;
    align-self: center;
    margin: 2rem 9rem 2rem 0rem;
  }
  &__buttones {
    display: flex;
    padding: 2rem 7rem;
    gap: 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  .button1 {
    display: flex;
    justify-self: end;
    background-color: $red;
    color: white;
  }
  .button2 {
    display: flex;
    justify-self: end;
    background-color: $yellow;
    color: white;
  }
}
.banner {
  display: flex;
  width: 80vw;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vw;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-left: 25rem;
  &__cover {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__covertext {
    display: flex;
    width: 74%;
    height: 15%;
    position: absolute;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: content-box;
    padding-top: 14rem;
  }
}
#cover {
  display: flex;
  flex: 0 1 auto;
  max-width: 100%;
  position: relative;
  z-index: 0;
}
#nameing {
  display: flex;
  font-size: 2.5vw;
  max-width: 100%;
  font-weight: 700;
  color: white;
  align-items: center;
}
#nameing2 {
  display: flex;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  gap: 1rem;
}
