* {
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  width: 80vw;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vmin;
  margin-left: 25rem;
}
.header__row {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  flex-direction: row;
  background-color: rgb(17, 77, 88);
  align-items: center;
  justify-content: space-between;
}
.header .frame {
  display: flex;
}
.header__phone {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header #phonecat {
  display: flex;
  width: 60px;
  margin-left: 2rem;
}
.header__number {
  display: flex;
  color: white;
  align-self: center;
  padding-left: 3rem;
}
.header__buttones {
  display: flex;
  padding: 2rem 7rem;
  gap: 4rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.header .button1 {
  display: flex;
  justify-self: end;
  background-color: rgb(235, 90, 59);
  color: white;
}
.header .button2 {
  display: flex;
  justify-self: end;
  background-color: rgb(247, 217, 64);
  color: white;
}

.banner {
  display: flex;
  width: 80vw;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vw;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-left: 25rem;
}
.banner__cover {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.banner__covertext {
  display: flex;
  width: 74%;
  height: 15%;
  position: absolute;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  box-sizing: content-box;
  padding-top: 14rem;
}

#cover {
  display: flex;
  flex: 0 1 auto;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

#nameing {
  display: flex;
  font-size: 2.5vw;
  max-width: 100%;
  font-weight: 700;
  color: white;
  align-items: center;
}

#nameing2 {
  display: flex;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  gap: 1rem;
}

@media (max-width: 767px) {
  .menu {
    position: absolute;
    width: 100%;
    background-color: rgb(17, 77, 88);
    z-index: 1;
  }
  .header {
    display: none;
  }
  .banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
.menu {
  position: relative;
  color: white;
  text-align: center;
  height: 40px;
  font-family: "Nunito", sans-serif;
}

#burger {
  display: none;
}

label {
  display: block;
  position: absolute;
  line-height: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: white;
  transition: 0.5s all;
}

.second,
.third {
  top: 18px;
}

.fourth {
  top: 28px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}
.main-menu__n {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgb(205, 187, 175);
  background-color: rgb(17, 77, 88);
}

#burger:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}

#burger:checked ~ .first {
  display: none;
}

#burger:checked ~ .second {
  transform: rotate(45deg);
}

#burger:checked ~ .third {
  transform: rotate(-45deg);
}

#burger:checked ~ .fourth {
  display: none;
}/*# sourceMappingURL=header.css.map */