@import "../styles/_colors.scss";
* {
  box-sizing: content-box;
  margin: 0 auto;
}
.header {
  width: 80vw;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vmin;
  margin-left: 25rem;

  &__row {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    flex-direction: row;
    background-color: $blue;
    align-items: center;
    justify-content: space-between;
  }
  .frame {
    display: flex;
  }
  &__phone {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #phonecat {
    display: flex;
    width: 60px;
    margin-left: 2rem;
  }
  &__number {
    display: flex;
    color: white;
    align-self: center;
    padding-left: 3rem;
  }
  &__buttones {
    display: flex;
    padding: 2rem 7rem;
    gap: 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  .button1 {
    display: flex;
    justify-self: end;
    background-color: $red;
    color: white;
  }
  .button2 {
    display: flex;
    justify-self: end;
    background-color: $yellow;
    color: white;
  }
}
.banner {
  display: flex;
  width: 80vw;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vw;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-left: 25rem;
  &__cover {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__covertext {
    display: flex;
    width: 74%;
    height: 15%;
    position: absolute;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: content-box;
    padding-top: 14rem;
  }
}
#cover {
  display: flex;
  flex: 0 1 auto;
  max-width: 100%;
  position: relative;
  z-index: 0;
}
#nameing {
  display: flex;
  font-size: 2.5vw;
  max-width: 100%;
  font-weight: 700;
  color: white;
  align-items: center;
}
#nameing2 {
  display: flex;
  font-size: 1vw;
  font-weight: 600;
  color: white;
  gap: 1rem;
}
// burger menu//
@media (min-width: 320px) and (max-width: 767px) {
  .menu {
    position: absolute;
    width: 100%;
    background-color: $blue;
    z-index: 1;
  }
  .header {
    display: none;
  }
  .banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    &__covertext {
      display: flex;
      width: 90%;
      padding-top: 3rem;
    }
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .menu {
    .burger__number {
      display: none;
    }
  }
  .banner {
    &__covertext {
      #nameing {
        font-size: 3.5vw;
      }
      #nameing2 {
        font-size: 2vw;
      }
    }
  }
}
@media (min-width: 521px) and (max-width: 767px) {
  .menu {
    .burger__number {
      margin-left: 4rem;
    }
  }
  .banner {
    &__covertext {
      padding-top: 4.5rem;
    }
    #nameing {
      font-size: 3.5vw;
    }
    #nameing2 {
      font-size: 2vw;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .menu {
    display: none;
  }
}
@media (min-width: 1281px) {
  .menu {
    display: none;
  }
}
.menu {
  position: relative;
  color: white;
  text-align: center;
  height: 40px;
  font-family: "Nunito", sans-serif;
}
#burger {
  display: none;
}

label {
  display: block;
  position: absolute;
  line-height: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.burger__number {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-top: 0;
  padding-top: 0.67em;
  margin-bottom: 0.1em;
  font-size: 1rem;
  margin-left: 5rem;
}
.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: white;
  transition: 0.5s all;
}
.second,
.third {
  top: 18px;
}
.fourth {
  top: 28px;
}
.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
  :hover {
    text-decoration: none;
    color: white;
    opacity: 1;
    transform: none;
    background: $red;
    font-size: larger;
    text-transform: uppercase;
    .accent-color {
      color: black;
    }
  }
  &__n {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid $grey;
    background-color: $blue;
  }
}
#burger:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}
#burger:checked ~ .first {
  display: none;
}
#burger:checked ~ .second {
  transform: rotate(45deg);
}
#burger:checked ~ .third {
  transform: rotate(-45deg);
}
#burger:checked ~ .fourth {
  display: none;
}
