@import "./colors";
@import "./breakpoints";

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.main-page {
    display: flex;
    flex-direction: column;
}

@import "./gallery";
@import "./text-types";
@import "./left-panel";
@import "./header";