.gallery {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__cards_two,
.gallery__cards_one,
.gallery__cards_three {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 450px;
  height: 620px;
  background-color: #fff;
  transition: 1s;
  opacity: 1;
  transform: scale(0.85, 0.85, 0.85);
}

.gallery__cards_one_photo_cat,
.gallery__cards_two_photo_cat,
.gallery__cards_three_photo_cat {
  max-width: 100%;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  background-color: blue;
}

.gallery__cards_one_text {
  background-color: rgb(248, 21, 255);
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  height: 200px;
  color: #fff;
}

.gallery__cards_two_text {
  background-color: rgb(235, 90, 59);
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  height: 200px;
  color: #fff;
}

.gallery__cards_three_text {
  background-color: rgb(56, 175, 115);
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  height: 200px;
  color: #fff;
}

.text-bg {
  background-color: rgb(235, 90, 59);
  font-family: "Nunito", sans-serif;
  font-size: 2.5vmin;
  color: #fff;
}

.main-title {
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-top: 0;
  padding-top: 0.67em;
  margin-bottom: 0.1em;
  font-size: 2rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.5rem;
}

.small-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.article-text {
  font-weight: 500;
  font-size: 1rem;
}

.small-text {
  font-weight: 600;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}

.page-container {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 2.5vmin;
}

.aside {
  display: none;
  max-width: 25%;
}

@media (min-width: 768px) {
  .aside {
    display: block;
  }
}

@media (min-width: 1280px) {
  .aside {
    max-width: 20%;
  }
}

.aside__pic {
  background-color: rgb(235, 90, 59);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__pic:hover {
  background-color: rgb(56, 175, 115);
}

.aside__pic-img {
  background-image: url(/assets/images/cat-gray.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  padding: 1rem 0;
}

.aside__nav {
  background-color: #fff;
  padding: 1rem;
  min-width: max-content;
}

.aside__nav-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  line-height: 1.5rem;
}

.aside__nav-link {
  color: #000;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: transparent;
  display: flex;
  align-items: center;
  opacity: 1;
  transform: scale3d(0.85, 0.85, 1) translateX(-23px);
  padding: 0.2rem;
}

.aside__nav-link:hover {
  opacity: 1;
  transform: none;
  background-color: rgb(235, 90, 59);
  font-size: larger;
  text-transform: uppercase;
}

.aside__nav-link:hover .accent-color {
  color: #fff;
}

.accent-color {
  color: rgb(235, 90, 59);
}

.aside__requisite {
  padding: 1rem;
  background-color: rgb(56, 175, 115);
  color: #fff;
}

.aside__requisite-details {
  padding-top: 1rem;
}

.aside__requisite-title {
  text-align: center;
}

.aside__requisite:hover {
  background-color: rgb(192, 205, 57);
}

.aside__requisite-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.4rem;
  padding-bottom: 0.5rem;
  color: #fff;
}

.aside__requisite-row:hover {
  filter: invert(49%) sepia(19%) saturate(2230%) hue-rotate(324deg) brightness(92%) contrast(100%);
}

.aside__requisite-img {
  max-width: 70%;
  filter: invert(100%) sepia(13%) saturate(4911%) hue-rotate(279deg) brightness(119%) contrast(100%);
}

@media (min-width: 1280px) {
  .aside__requisite-img {
    max-width: 60%;
  }
}

.aside__requisite-img_sber {
  max-width: 75%;
}

@media (min-width: 1280px) {
  .aside__requisite-img_sber {
    max-width: 60%;
  }
}

.aside__requisite-img_kiwi {
  max-width: 40%;
}

.aside__socials {
  padding: 1rem;
  background-image: linear-gradient(-20deg, rgb(17, 77, 88) 51%, rgb(27, 155, 163) 51%);
}

.aside__socials-text {
  color: #fff;
  display: block;
}

.aside__socials:hover {
  background-image: linear-gradient(127deg, rgb(192, 205, 57) 51%, rgb(235, 90, 59) 51%);
}

.aside__socials:hover .aside__socials-text {
  color: #000;
}

.aside__socials:hover .aside__socials-img {
  filter: invert(100%);
}

.socials {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}